#python -m pip install --upgrade pip && pip install -r requirements.txt
gdown == 5.2.0
torch == 2.7.1
numpy == 2.2.6
pandas == 2.2.3
scikit-learn == 1.7.1
tqdm == 4.67.1
transformers == 4.53.3
faiss-cpu